<div id="fade-wrapper">
	<div id="close-button"></div>
	<div id="about-content">
		<h2>About</h2>
		<p>My name is Dan Convey, and I started The Music Plug in hopes that people new to music production will be able to find quality resources to get started with. When I was new to music production, I tried looking around for some free stuff, and found pages with lists of resources that were miles long. This was not only confusing, but also took up a lot of my time trying to test everything to see what was good quality. My goal with this website is not to tell people what to use, but to help newcomers find the top quality resources they need for their projects, instead of having to download and try many of them. The articles on this site should narrow down the selection from the hundreds of free resources on each site, to a much smaller number in each article. This was made with plenty of help from the community, so please let me know if you have any suggestions for the site. Thanks!</p>
	</div>
</div>